<section class="box-skills">
    <section class="tech-stack">
      <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF" class="svg" >
        <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-660v600h600v-600H676v279l-98-59-98 59v-279H180Zm0 600v-600 600Z"/>
      </svg>
      <p class="title">Tech Stack </p>
    </section>

    <section class="skills">
        <div class="skill-row" *ngFor="let row of getSkillRows()">
          <div class="container-skill" *ngFor="let skill of row" [ngClass]="{'special-skill': skill.name === 'C', 'skill-github': skill.name === 'GitHub', 'skill-spring': skill.name === 'Spring' }" >
            <h3 class="skill-name">{{skill.name}}</h3>
            <img [src]="getImagePath(skill.image)" alt="{{skill.name}}" [width]="skill.width" [height]="skill.height" class="image">
          </div>
        </div>
    </section>
</section>