*{
    font-family: Kadwa;
    color: #ebebeb;
    font-size: 1.3rem;
    background-color: #212121 ;
    
}

.svg{
    margin-right: 1rem;
}

.tech-stack{
    display: flex;
    padding-left: 4rem;
    align-items: center;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.title{
    font-size: 1.6rem;
    margin: 0rem;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2rem;
    background-color: #b9173d;
}

.box-skills{
    margin-right: 12rem;
    margin-left: 12rem;
    margin-top: 2rem;
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 0px 25px 10px black;
}

.skills{
    display: block;
    justify-content: center;
    padding-left: 2rem;
}

.skill{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.skill-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-skill{
    padding-bottom: 1rem;
    display: block;
    align-items: center;
    margin-right: 4.5rem;
}

.skill-name{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.image{
    margin: 0%;
    padding: 0%;
}

.special-skill .image {
    margin-top: 2rem; /* Ajusta el valor según el espacio deseado */
}

.skill-github .image {
    margin-top: 1.15rem; 
}

.skill-spring .image{
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}

@media (max-width: 1024px) {
    .box-skills {
        margin: 2rem 6rem;
    }
}

@media (max-width: 768px) {
    .box-skills {
        margin: 2rem 3rem;
    }

    .tech-stack {
        padding-left: 2rem;
    }
}

@media (max-width: 480px) {
    .box-skills {
        margin: 1rem;
        padding: 2rem 1rem;
    }

    .tech-stack {
        padding-left: 1rem;
    }

    .title {
        font-size: 1.4rem;
    }

    .skills {
        max-width: 430px;
        padding: 0%;
    }

    .container-skill{
        margin-right: 2rem;
    }

    .skill-row{
        max-width: 420px;
        justify-content:center;
    }

    .container-skill {
        margin: 1rem;
    }

    .skill-name {
        font-size: 1.2rem;
    }

    .special-skill .image{
        margin-top: 1rem;
        width: 65px;
        height: 65px;
    }

    .skill-spring .image {
        margin-top: 0.8rem;
        width: 110px;
        height: 75px;
    }

    .skill-js .image {
        width: 100px;
        height: 100px;
    }

    .skill-github .image{
        width: 100px;
        height: 80px;
    }

    .skill-mysql .image{
        margin-top: 0.8rem;
        width: 70px;
        height: 90px;
    }

    .skill-java .image{
        width: 100px;
        height: 90px;
    }
}

@media (max-width: 412px) {
    .box-skills {
        margin: 1rem;
        padding: 1rem 0.5rem;
    }

    .tech-stack {
        padding-left: 1rem;
    }

    .title {
        font-size: 1.4rem;
    }

    .skills {
        max-width: 412px;
        padding: 0%;
    }

    .container-skill{
        margin-right: 1rem;
    }

    .skill-row{
        max-width: 400px;
        justify-content:center;
    }

    .container-skill {
        margin: 0.7rem;
    }

    .skill-name {
        font-size: 1.2rem;
    }

    .special-skill .image{
        margin-top: 1.1rem;
        width: 60px;
        height: 60px;
    }

    .skill-spring .image {
        margin-top: 0.9rem;
        width: 100px;
        height: 70px;
    }

    .skill-js .image {
        width: 100px;
        height: 100px;
    }

    .skill-github .image{
        width: 100px;
        height: 80px;
    }

    .skill-mysql .image{
        margin-top: 0.8rem;
        width: 70px;
        height: 90px;
    }

    .skill-java .image{
        width: 100px;
        height: 90px;
    }
}