<div class="tech-stack">
    <div class="box-title">
      <h4 class="title">Tech Stack</h4>
    </div>
    <div class="slider-container">
      <div class="slider">
        <img src="/AngularLogo.webp" width="30" height="30">
        <img src="/github.png"  width="30" height="30">
        <img src="/html5-fill.svg" width="30" height="30">
        <img src="/css3-fill.svg" width="30" height="30">
        <img src="/javascript-fill.svg" width="30" height="30">
        <img src="/mysql logo.png" width="30" height="30">
        <img src="/java-line.svg" width="30" height="30">
        <img src="/spring-logo.png" width="30" height="30">
      </div>
    </div>
</div>
