*{
    font-family: Poppins;
}

.box-title{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 1.7rem;
}

.tech-stack {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    padding-block: 2rem;
}

.slider-container {
    margin: 0 auto; /* Centra el contenedor */
    max-width: calc(100% - 55rem); /* 8rem a cada lado */
    overflow: hidden; /* Oculta cualquier contenido fuera de los límites */
}
  
.slider {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-block: 3rem;
    animation: slide 14s linear infinite;
}
  
.slider img, .slider svg {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    border-radius: 8px;
    padding: 5px;
    border: 2px solid white; /* Mejora la visibilidad */
    filter: drop-shadow(0 0 10px #6a0dad); /* Resplandor */
    width: 50px; /* Ajustar tamaño uniforme */
    height: 50px;
    transition: transform 0.3s;
}
  
.slider svg {
    width: 50px;  /* Asegúrate de que el SVG tenga un tamaño fijo */
    height: 50px;
}

.box-title h4 {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    margin-bottom: 15px;
    text-align: center;
}
  
.slider img:hover, .slider svg:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}
  
  /* Animación para el desplazamiento */
@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}