<section class="box-personal-information">
    <section class="container-of-box">
        <section class="box-presentation">
            <div class="presentation">
                Hi!, I'm Lautaro 
            </div>
            <div class="rol">
                Backend Developer
            </div>
        
            <div class="about-me">
                Specialized in Java and Spring
            </div>
        </section>
    
        <section class="box-profile-picture">
            <div class="circle-profile-picture">
                <div id="profile-picture">  
                    <img src="assets/img/Profile Picture.jpg" alt="Profile Picture" height="200" width="200" class="profile-picture-img">
                </div>
            </div>
        </section>
    </section>
    <section class="box-download-cv">
        <button class="download-cv" (click)="downloadCV()">
            Download Resume
        </button>
    </section>

</section>