*{
    font-family: Kadwa;
    color: white;
    font-size: 1.3rem;
}

.box-personal-information{
    border-bottom: solid white 0.1rem;
    padding: 2rem;
}

.box-presentation{
    margin-right: 40rem;
}

.about-me{
    padding-top: 2rem;
}

.rol{
    color: #0057FF;
    font-size: 1.8rem;
}

.container-of-box{
    display: flex;
    justify-content: center;
}

.box-download-cv{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.download-cv{
    border-radius: 2rem;
    padding: 0.3rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    border: none; /* Quita el borde por defecto del botón */
    background: linear-gradient(
        to right,
        #0057FF 18%,
        #003499 81%
    );
}

.circle-profile-picture{
    width: 12rem;
    height: 12rem;
    border-radius: 10rem;
    background-color: #0057FF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture{
    background-color: #0057FF;
}