*{
    font-family: Kadwa;
    color: white;
    font-size: 1.3rem;
}

.box-personal-information{
    padding-top: 1.5rem;
    padding-right: 12rem;
    padding-left: 12rem;
    justify-content: center;
    display: block;
}

.box-presentation{
    margin-right: 14rem;
    
}

.presentation{
    font-size: 2rem;

}

.about-me{
    font-size: 2rem;

}

.rol{
    color: #b9173d;

    font-size: 3.4rem;
}

.container-of-box{

    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.box-download-cv{
    display: flex;
    justify-content: center;

    padding-bottom: 5rem;
}

.download-cv{
    color: #ebebeb;
    font-size: 1.5rem;
    padding: 0.6rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    border: none; /* Quita el borde por defecto del botón */
    background-color: #b9173d;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 2px black;
}

.box-profile-picture{

}

.circle-profile-picture{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-picture {
    width: 100%; /* Asegurarse de que el contenedor del perfil ocupe todo el círculo */
    height: 100%;
}

.profile-picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen ocupe todo el contenedor y se recorte si es necesario */
  }