<section class="box-personal-information">
    <section class="container-of-box">
        <section class="box-presentation">
            <div class="presentation">
                Presentation
            </div>
            <div class="rol">
                Backend Developer
            </div>
        
            <div class="about-me">
                About me
            </div>
        </section>
    
        <section class="box-profile-picture">
            <div class="circle-profile-picture">
                <div id="profile-picture">Profile Picture</div>
            </div>
        </section>
    </section>

    <section class="box-download-cv">
        <button class="download-cv">
            Download CV
        </button>
    </section>
</section>