<section class="box-about">
    <section class="box-title">
        <svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 -960 960 960" width="60px" fill="#e8eaed">
            <path d="M368-80v-538q-95-20-152.5-85.5T158-856h60q0 78 60.5 131T426-672h100q38 0 56 6.5t46 30.5l184 172-43 43-185-174v514h-60v-255h-96v255h-60Zm108.08-654q-30.08 0-51.58-21.42t-21.5-51.5q0-30.08 21.42-51.58t51.5-21.5q30.08 0 51.58 21.42t21.5 51.5q0 30.08-21.42 51.58t-51.5 21.5Z"/>
        </svg>
        <button class="title" disabled>  
            About
        </button>
    </section>

    <section class="content-of-about">
        <section class="about-me">
            <div class="about-me-text">
                <p class="paragraph">
                    Hola! Soy Lautaro Ruiz, y me destaco en el rol de desarrollador back-end. 
                    <br>
                    Con la tecnicatura universitaria en programación de la U.T.N. de Mar del Plata desarrollé una base sólida en los fundamentos de la programación que me permiten abordar problemas de manera sistemática 
                    y desarrollar soluciones de software robustas.
                    <br><br> 
                    Hasta la fecha, no tengo experiencia laboral profesional, pero me dedico a formarme día a día y realizar proyectos personales o simulaciones laborales para aplicar mi conocimiento y mejorar continuamente. 
                    De este modo, cuando llegue el día de conseguir mi primer trabajo, estaré listo. Las tecnologías del área de back-end que domino son <span class="tecnologias">Java</span>, <span class="tecnologias">Spring</span> y <span class="tecnologias">MySQL</span>. Con respecto al Front-end, tengo experiencia con <span class="tecnologias">JavaScript</span>, <span class="tecnologias">Angular</span>, <span class="tecnologias">HTML</span> y <span class="tecnologias">CSS</span>. 
                    También manejo herramientas de control de versiones como <span class="tecnologias">Git</span> y <span class="tecnologias">GitHub</span>.
                    <br><br>
                    Finalmente, considero que aprendo rápido, soy proactivo y me adapto fácilmente al rol que me toque cumplir. 
                    Estoy entusiasmado en contribuir en proyectos desafiantes y trabajar eficazmente en equipo!</p>
            </div>
        </section>

        <section class="section-education">
            <section class="box-title-education">
                    <div class="education">Education</div>
            </section>
            <section class="box-education">
                <section class="item-education" *ngFor="let item of education">
                    <div class="item-info">
                        <img [src]="getImagePath(item.image)" width="{{item.width}}" height="{{item.height}}">
                        <div class="container-list">
                            <ul class="list">
                                <h3>{{item.title}}</h3>
                                <h3>{{item.place}}</h3>
                                <h4>{{item.since}} - {{item.until}}</h4>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>

</section>
