*{
    font-family: Kadwa;
    color: black;
    font-size: 1.3rem;
    background-color: rgba(241,245,255,1);
}

.box-about{
    display:block;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    margin-right: 12rem;
    margin-left: 12rem;
    align-items: center;
    border-bottom: solid 0.1rem white;
    border-radius: 2rem;
}

.box-title{
    display: flex;
    padding-left: 4rem;
    align-items: center;
}

.title{
    font-size: 1.6rem;
    margin: 0rem;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2rem;
    background: linear-gradient(
        to right,
        #1F4AE2 18%,
        #11297C 81%
    );
}

.content-of-about{
    padding-top: 1rem;
    display: block;
    margin: 0%;
}

.box-education{
    display: flex;
    justify-content: center;
}

.item-education{
    display: flex;
}

.item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 1px 2px 1px 2px gray;
    border-radius: 2rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}

.container-list{
    display: flex;
    padding-left: 1rem;
    align-items: center;
    padding-top: 0.5rem;
}

.list{
    margin: 0%;
    padding: 0%;
    display: block;
    align-items: center;
}

.about-me{
    display: flex;
    justify-content: center;
}

.about-me-text {
    max-width: 950px; /* Ajusta este valor según tus necesidades */
    width: 100%; /* Permite que ocupe el 100% del ancho disponible hasta el max-width */
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    margin: 0 auto; /* Centra el bloque horizontalmente */
}

.education{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.section-education{
    display: block;
    justify-content: center;
}