<section class="box-about">
    <section class="box-title">
        <button class="title" disabled>  
            About
        </button>
    </section>

    <section class="content-of-about">
        <section>
            <p class="about-me">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit mollitia voluptatibus minus culpa eligendi expedita repudiandae laboriosam odio, distinctio deserunt est velit, exercitationem itaque? Dolore quidem perferendis nesciunt dolorem vitae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tempore libero ad provident amet neque, quidem dignissimos, quo numquam accusantium labore incidunt molestias ipsam culpa laborum? Minima explicabo magni eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus atque labore a et illum repudiandae, magnam deleniti dolorem architecto fuga, incidunt, quisquam quis facere. Voluptatum earum a modi voluptas hic.</p>
        </section>
        <section class="section">
            <section class="education">
                    Education
            </section>
            <section class="box-education">
                <section class="item-education" *ngFor="let item of education">
                    <div class="item-info">
                        <img [src]="getImagePath(item.image)" width="{{item.width}}" height="{{item.height}}">
                        <div class="container-list">
                            <ul class="list">
                                <h3>{{item.title}}</h3>
                                <h3>{{item.place}}</h3>
                                <h4>{{item.since}} - {{item.until}}</h4>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>

</section>
