*{
    font-family: Kadwa;
    color: #ebebeb;
    font-size: 1.3rem;
    background-color: #212121;
}

.svg_code{
    margin-right: 1rem;
}


.box-projects{
    display:block;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 25px 10px black;
    margin-bottom: 4rem;
}

.box-title{
    display: flex;
    padding-left: 4rem;
    align-items: center;
}

.title{
    font-size: 1.6rem;
    margin: 0rem;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2rem;
    background-color: #b9173d;
}

.projects{
    padding: 1rem;
    padding-bottom: 0rem;
    display: block;
    justify-items: center;
    justify-content: center;
}

.project-list{
    padding-bottom: 0rem;
    padding-top: 1.5rem;
}

.header-item{
    background-color: #414141;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.link{
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}

a img{
    background-color: #414141;
}

.container-project-info{
    display: block;
    padding-left: 1rem;
    padding-top: 0.2rem;
    background-color: #414141;
}

.text{
    color: white;
    background-color: #414141;
}

.project-description{
    background-color: #414141;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    display: block;
    justify-content: center;
}

.project-divider {
    border-bottom: solid 0.1rem #fff;
}

.container-description{
    display: block;
    justify-content: center;
    justify-items:center ;

    max-width: 900px; /* Ajusta este valor según tus necesidades */
    width: 100%; /* Permite que ocupe el 100% del ancho disponible hasta el max-width */
    margin: 0 auto; /* Centra el bloque horizontalmente */
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.item{
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    box-shadow: 3px 5px 4px 3px black;
    border-radius: 3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
    background-color: #414141;
}

.description{
    background-color: #414141;
    display: flex;
    justify-content: center;
    margin: 0%;
    font-size: 1.22rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.5rem;
}

.aptitudes{
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-images {
    padding: 0.8rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-images button {
    background: none;
    border: none;
    color: white;
    font-size: 4rem;
    cursor: pointer;
    padding: 0 1rem;
}

.item-images img {
    max-width: 100%;
    max-height: 100%;
}

.image{
    border: none;
    border-radius: 2rem;
    box-shadow: 3px 5px 4px 3px black;
}
