<section class="box-projects">
    <section class="box-title">
        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#FFFFFF" class="svg_code">
            <path d="M320-242 80-482l242-242 43 43-199 199 197 197-43 43Zm318 2-43-43 199-199-197-197 43-43 240 240-242 242Z"/>
        </svg>
        <p class="title"> Projects </p>
    </section>

    <section class="projects">
        <div class="item-project" *ngFor="let project of projects; let last = last" [ngClass]="{'project-divider': !last}">
            <ul class="project-list">
                <div class="item">
                    <div class="header-item">
                        <img [src]="getImagePath(project.front_page)" width="{{project.width_front_page}}" height="{{project.height_front_page}}" class="front_page">
                        <div class="container-project-info">
                            <h3 class="text"> {{project.name}} </h3>
                            <h3 class="text"> {{project.associated_with}}</h3>
                            <h4 class="text"> {{project.since}} - {{project.until}} </h4>
                        </div>
                    </div>

                    <div class="project-description">
                        <div class="container-description">
                            <p class="description"> {{project.first_description}} </p>
                            <p class="description"> {{project.second_description}} </p>
                        </div>
                    </div>
                    
                    <div class="link" [ngClass]="{'github-hover': project.name === 'To Do List'}">
                        <div class="github-links">
                            <a *ngFor="let link of project.github" href="{{link.url}}" target="_blank">
                                <img src="assets/img/GitHub.png" alt="GitHub Logo" width="60" height="60">
                                <span class="github-label">{{link.label}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                
                <section class="item-images">
                    <button *ngIf="project.images.length > 1" (click)="prevImage(project)">&#9664;</button>
                    <img class="image" [src]="getImagePath(project.images[project.currentImageIndex].name)" alt="{{project.name}}" [attr.height]="project.images[project.currentImageIndex].height" [attr.width]="project.images[project.currentImageIndex].width">
                    <button *ngIf="project.images.length > 1" (click)="nextImage(project)">&#9654;</button>
                </section>

                <section class="item-images-phone">
                    <img class="image-phone" [src]="getImagePath(project.images[project.currentImageIndex].name)" alt="{{project.name}}" [attr.height]="project.images[project.currentImageIndex].height" [attr.width]="project.images[project.currentImageIndex].width">
                    <div class="box-buttons-phone">
                        <button class="button" *ngIf="project.images.length > 1" (click)="prevImage(project)">&#9664;</button>
                        <button *ngIf="project.images.length > 1" (click)="nextImage(project)">&#9654;</button>
                    </div>
                </section>
            </ul>
        </div>
    </section>
</section>
