*{
    font-family: Comfortaa;
}

.box-projects{
    display: grid;
    justify-content: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    padding-block: 2rem;
}

.box-title{
    display: flex;
    justify-content: center;
}

.title{
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.7rem;
}

.project{
    margin-block: 1.5rem;
    display: flex;
}

.box-name{
    display: flex;
    align-items: center;
}

.box-description{
    margin-top: 1rem;
    max-width: 500px;
}

.box-technologies, 
.box-github{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.link{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}

.box-project-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.project-images img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.next, .before {
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.highlight {
    color: red;
    font-weight: bold;
}
  