* {
    font-family: Kadwa;
    color: #ebebeb;
    font-size: 1.2rem;
    margin: 0%;
    padding: 0%;
    background-color: #212121;
}

.box-footer {
    box-shadow: 0px 1px 25px 10px black;
}

.footer-items {
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.linkedin, .google, .github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.item-google {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gmail {
    padding-left: 0.5rem;
    color: #bcbcbc;
}

/* Media Queries */
@media (max-width: 1024px) {
    .footer-items {
        padding: 0.6rem 0;
    }

    .linkedin, .google, .github {
        margin: 0 0.8rem;
    }
}

@media (max-width: 768px) {
    .footer-items {
        padding: 0.4rem 0;
    }

    .linkedin, .google, .github {
        margin: 0 0.5rem;
    }

    #gmail {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .footer-items {
        padding: 0.3rem 0;
    }

    .linkedin, .google, .github {
        margin: 0.5rem 1rem;
        flex-direction: column; /* Coloca los elementos en una columna */
    }

    .linkedin-logo{
        height: 50px;
        width: 50px;
    }

    .google-logo,
    .github-logo{
        height: 38px;
        width: 38px;
    }

    #gmail {
        padding-left: 0.4rem;
        text-align: center; /* Centra el texto del correo electrónico */
        font-size: 0.9rem;
    }
}

@media (max-width: 412px){
    .footer-items {
        padding: 0.2rem 0;
    }

    .linkedin, .google, .github {
        margin: 0.35rem 0.8rem;
        flex-direction: column; /* Coloca los elementos en una columna */
    }
}
