@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

*{
    font-family: Kadwa;
    color: rgb(137, 134, 134);
    font-size: 1.2rem;
    background-color: #151517;
}

.box-footer{
    
}

.footer-items{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-right: 3rem;
}

.item-google{
    display: flex;
    justify-content: center;
    align-items: center;

    #google_logo{

    }

    #gmail{
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 3rem;        
    }
}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
}