*{
    font-family: Kadwa;
    color: white;
    font-size: 1.3rem;
    background-color: #0D1F60;
}

.box-footer{
    border-bottom: solid white 0.1rem;
}

.footer-items{
    padding-top: 8rem;
    padding-bottom: 8rem;
}