<section class="box-navbar">
    <section class="navbar">
        <div class="box-home">
            <button id="button-home"><a href="header" class="link">Home</a></button>
        </div>
        <div class="box-options">
            <button id="button-experience"> <a href="#work-experience" class="link">Experience</a> </button>
            <button id="button-projects"> <a href="#projects" class="link">Projects</a> </button>
            <button id="button-about"> <a href="#about" class="link">About</a> </button>
            <button id="button-contact"><a href="#contact" class="link">Contact</a></button>
        </div>
    </section>
</section>

