*{
    color: white;
    font-size: 1.3rem;
}

.box-navbar{
    margin-bottom: 0rem;
    border-bottom: 0.2rem solid white;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.navbar{
    display: flex;
}

.box-home{
    margin-right: 70rem;
    padding-left: 5rem;
    #button-home{ 
        font-family: Kadwa;
        border: 0rem;
    }
}

.box-options{
    display: flex;
    padding-right: 4rem;
    
    #button-experience{
        margin-right: 1rem;
        font-family: Kadwa;
        border: 0rem;
    }

    #button-projects{
        margin-right: 1rem;
        font-family: Kadwa;
        border: 0rem;
    }

    #button-contact{
        font-family: Kadwa;
        border: 0rem;
    }
}