.box-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
}

.button{
    padding: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: aliceblue;
    font-family: Comfortaa;
    font-size: 1.2rem;

    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    text-align: center;
    transition: 0.3s;
    font-family: Poppins;
    flex: 1;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    border-radius: 8px;
    padding: 5px;
}

.button a {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    text-decoration: none; /* Quita el subrayado */
    display: block; /* Asegura que el enlace se comporta como bloque */
    width: 100%; /* Asegura que el enlace ocupe todo el botón */
    height: 100%; /* Asegura que el enlace ocupe todo el botón */
}

.inicio{
    flex: 1;
    padding: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: aliceblue;
    font-family: Comfortaa;
    font-size: 1.2rem;

    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    text-align: center;
    transition: 0.3s;
    font-size: 1.8rem;
}

svg {
    color: white; /* Color del SVG */
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #00ffcc); /* Sombra similar a text-shadow */
    display: block;
    margin: 0 auto; /* Centra el SVG horizontalmente */
}

@media (max-width: 768px) {
    .box-buttons {
        gap: 0.5rem; /* Reduce el espacio entre botones */
    }

    .button,
    .inicio {
        font-size: 0.9rem; /* Disminuye el tamaño de fuente */
        padding: 0.4rem; /* Reduce el padding */
        min-width: 50px; /* Reduce el ancho mínimo */
    }

    svg {
        width: 32px; /* Ajusta el tamaño del icono SVG */
        height: 32px;
    }
}

@media (max-width: 480px) {
    .button,
    .inicio {
        font-size: 0.8rem; /* Disminuye aún más el tamaño de fuente */
        padding: 0.3rem; /* Reduce el padding */
    }

    svg {
        width: 24px; /* Ajusta aún más el tamaño del icono SVG */
        height: 24px;
    }
}