*{
    font-family: Kadwa;
    color: black;
    font-size: 1.3rem;
    background-color: rgba(241,245,255,1);
}

.box-work-experience{
    display:block;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    align-items: center;
    border-bottom: solid 0.1rem white;
    border-radius: 2rem;
}

.box-title{
    display: flex;
    padding-left: 4rem;
    align-items: center;
}

.briefcase{
    margin-right: 1rem;
}

.title{
    font-size: 1.6rem;
    margin: 0rem;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2rem;
    background: linear-gradient(
        to right,
        #1F4AE2 18%,
        #11297C 81%
    );
}

.text-title{
    background-color: transparent;
    margin: 0rem;
    align-items: center;
    justify-content: center;
}

.box-experiences{
    padding-top: 1.4rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 0%;    
}

.work-experience{
    border: solid 0.2rem black;
}

.item{

}

.list{
    margin: 0%;
    padding: 0%;
}

.container-experience-info{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.experience-info{
    display: block;
    padding-left: 1rem;
    padding-top: 0.2rem;
}

.experience-description{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}

.container-description{
    display: block;
    justify-content: center;
}

.box-positive-aspects{
    display: block;
    justify-content: center;
    text-align: justify;
}