<section class="box-work-experience">
    <section class="box-title">
        <img src="assets/img/briefcase.webp" alt="Briefcase" width="60" height="60" class="briefcase">
        <p class="title">Work Experience</p>
    </section>

    <section class="box-experiences">
        <div class="work-experience" *ngFor="let experience of work_experiences">
            <ul class="list">
                <div class="item">
                    <div class="container-experience-info">
                        <img [src]="getImagePath(experience.image)" alt="{{experience.company}}" height="{{experience.height}}" width="{{experience.width}}" class="front_page">
                        <div class="experience-info">
                            <h3 class="text">{{experience.charge}}</h3>
                            <h3 class="text"> {{experience.company}}</h3>
                            <h4 class="text"> {{experience.since}} {{experience.until}} </h4>
                        </div>
                    </div>
                    
                    <div class="experience-description">
                        <div class="container-description">
                            <p class="paragraph-experience-description">{{experience.description}}</p>
                            <ul *ngFor="let positive_aspect of experience.positive_aspects" class="box-positive-aspects">
                                <div class="positive_aspect">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed" class="svg">
                                        <path d="M400-280v-400l200 200-200 200Z"/>
                                    </svg>
                                    <p class="paragraph"> {{positive_aspect }}</p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </section>
</section>
