<section class="box-work-experience">
    <section class="box-title">
        <img src="assets/img/briefcase.webp" alt="Briefcase" width="60" height="60" class="briefcase">
        <p class="title">Work Experience</p>
    </section>

    <section class="box-experiences">
        <div class="work-experience" *ngFor="let experience of work_experiences">
            <ul class="list">
                <div class="item">
                    <div class="container-experience-info">
                        <img [src]="getImagePath(experience.image)" alt="{{experience.company}}" height="{{experience.height}}" width="{{experience.width}}">
                        <div class="experience-info">
                            <h3 class="text">{{experience.charge}}</h3>
                            <h3 class="text"> {{experience.company}}</h3>
                            <h4 class="text"> {{experience.since}} {{experience.until}} </h4>
                        </div>
                    </div>
                    
                    <div class="experience-description">
                        <div class="container-description">
                            <p class="paragraph">{{experience.description}}</p>
                            <ul *ngFor="let positive_aspect of experience.positive_aspects" class="box-positive-aspects">
                                <p class="paragraph"> {{positive_aspect }}</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </section>
</section>
