<section class="box-education">
    <section class="box-title">
        <h4 class="title">Educación</h4>
    </section>
    <section class="education"> 
        <div class="box-academic-degree-university">
            <div class="academic-degree-university">
                <div class="box-image">
                    <img src="/utn logo.jpg" width="60" height="60" alt="NoCountry">
                </div>
                <div class="box-information">
                    <h4 class="university-text">Universidad Tecnológica Nacional</h4>
                    <h5 class="academic-degree-text">Técnico Universitario en Programación</h5>
                    <h5 class="fecha">2022-2024</h5>
                </div>
            </div>
            <div class="box-description">
                <p class="description"> Promedio: 9.2</p>
            </div>
        </div>
    </section>
</section>