*{
    font-family: Poppins;
}

.box-education{
    display: grid;
    justify-content: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    padding-block: 2rem;
}

.education{
    padding-block: 2rem;
    padding-top: 1rem;
}

.box-title{
    display: flex;
    justify-content: center;
}

.title{
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.7rem;
}

.academic-degree-university{
    display: flex;
    align-items: center;
}

.academic-degree-text{
    color: #00ffcc; /* Color neón */
    text-shadow: 0 0 2px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ccaa;
    font-weight: bold;
}

.box-image{
    display: flex;
    align-items: center;
}

.box-information{
    margin-left: 1rem;
}

.box-description{
    margin-top: 1rem;
    text-align: center;
    color: rgb(192, 192, 192);
}

.university-text{
    color: white;
    text-shadow: 0 0 3px #fff, 0 0 10px #00ffcc;
}

.fecha{
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 5px #07c29c;
}

@media (max-width: 1024px) {
    .title {
        font-size: 1.5rem;
    }
    .academic-degree-university {
        flex-direction: column; /* Cambia de fila a columna */
        align-items: center; /* Alinea los elementos al inicio */
        text-align: center; /* Alinea el texto a la izquierda */
    }
    .box-image {
        margin-bottom: 1rem; /* Espacio entre imagen y texto */
    }
    .box-information {
        margin-left: 0; /* Elimina margen lateral */
    }
    .box-description {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 1.2rem;
    }
    .box-education {
        padding-block: 1.5rem; /* Reduce el espaciado */
    }
    .academic-degree-university {
        align-items: center;
        text-align: center; /* Centra el texto */
    }
    .box-image img {
        width: 50px; /* Reduce el tamaño de la imagen */
        height: 50px;
    }
    .box-information h4, .box-information h5, .box-description p {
        font-size: 0.9rem; /* Ajusta el tamaño de fuente */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1rem;
    }
    .box-education {
        padding-block: 1rem; /* Reduce más el espaciado */
    }
    .academic-degree-university {
        flex-direction: column;
        align-items: center; /* Asegura que todo esté centrado */
        text-align: center;
    }
    .box-image img {
        width: 40px; /* Tamaño más pequeño para la imagen */
        height: 40px;
    }
    .box-information h4, .box-information h5, .box-description p {
        font-size: 0.8rem; /* Tamaño más pequeño para texto */
    }
    .box-description {
        margin-top: 0.5rem;
    }
}