<section class="box-experiences">
    <section class="box-title">
        <h4 class="title">Experiencia</h4>
    </section>
    <section class="experiences">
        <div class="experience">
            <div class="box-name-and-company">
                <h5 class="rol">Backend Developer</h5>
                <div class="company">
                    <img src="/No Country Logo.jpg" width="35" height="35" alt="NoCountry">
                    <div class="name">
                        <h6>No Country</h6>
                        <h6>Simulacion Laboral</h6>
                    </div>
                </div>
            </div>
            <div class="box-description">
                <p>Desarrollo de sistema para conectar médicos con pacientes</p>
                <p>Realización de tareas con Spring Boot y Spring Security</p>
                <p>Uso de JWT</p>
                <p>Gestión de base de datos relacional en MySQL</p>
                <p>Comunicación efectiva en equipo entre varios roles y un Team Leader</p>
            </div>
            <div class="box-proyecto-asociado">
                <p>Asociada con el proyecto Salud Online</p>
            </div>
        </div>
    </section>
</section>