*{
    font-family: Poppins;
}

.box-experiences{
    display: grid;
    justify-content: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    padding-block: 2rem;
}

.box-title, 
.box-proyecto-asociado{
    display: flex;
    justify-content: center;
}

.box-proyecto-asociado{
    color: rgb(156, 156, 156);
}

.title{
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #00ffcc;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.7rem;
}

.experience{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.company{
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}

.name{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.rol{
    font-size: 1.3rem;
    color: #00ffcc; /* Color neón */
    text-shadow: 0 0 2px #00ffcc, 0 0 10px #00ffcc, 0 0 20px #00ccaa;
    font-weight: bold;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}


.box-proyecto-asociado{
    margin-top: 1rem;
}

.box-name-and-company{
    display: grid;
    align-items: center;
    margin-bottom: 0.9rem;
}

.box-description{
    margin-top: 0.4rem;
    display: grid;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    border-radius: 8px;
    padding: 5px;
    filter: drop-shadow(0 0 10px #6a0dad); /* Resplandor */
}

.positiveAspect{
    display: flex;
    align-items: center;
}

.positiveAspectText{
    margin-left: 0.3rem;
}

@media (max-width: 1024px) {
    .title {
        font-size: 1.5rem;
    }
    .rol {
        font-size: 1.2rem;
    }

    .box-name-and-company {
        align-items: center;
    }
    .company {
        align-items: center;
    }
    .name {
        margin-left: 0.8rem;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 1.3rem;
    }
    .rol {
        font-size: 1.1rem;
    }
    .experiences{
        padding-inline: 0.5rem;
        justify-content: center;
    }
    .company img {
        width: 35px; /* Ajusta el tamaño del logo */
        height: 35px;
    }
    .box-description {
        font-size: 0.85rem; /* Reduce el tamaño del texto */
        padding: 8px; /* Ajusta el padding */
    }
    .positiveAspect svg {
        width: 24px; /* Reduce el tamaño del ícono */
        height: 24px;
    }
    .positiveAspectText {
        font-size: 0.85rem; /* Ajusta el tamaño del texto */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1rem;
    }
    .rol {
        font-size: 1rem;
    }
    .company img {
        width: 30px; /* Tamaño aún más pequeño */
        height: 30px;
    }
    .box-description {
        font-size: 0.8rem; /* Texto más pequeño */
        padding: 5px; /* Menos espacio */
    }
    .experiences{
        padding-inline: 0.5rem;
        justify-content: center;
    }
    .positiveAspect svg {
        width: 20px; /* Ícono más pequeño */
        height: 20px;
    }
    .positiveAspectText {
        font-size: 0.75rem; /* Texto más pequeño */
    }
    .box-proyecto-asociado p {
        font-size: 0.8rem; /* Reduce el tamaño del texto */
    }
    .name {
        font-size: 0.9rem;
    }
    .company {
        margin-top: 0.5rem; /* Ajusta el espaciado */
    }
}

@media (max-width: 380px){
    .box-description {
        font-size: 0.7rem; /* Texto más pequeño */
        padding: 5px; /* Menos espacio */
    }

    .name {
        font-size: 0.9rem;
    }

    .positiveAspectText {
        font-size: 0.69rem; /* Texto más pequeño */
    }
}