<header>
    <nav>
        <app-navbar></app-navbar>
    </nav>
</header>

<body>
    <main>
        <app-personal-information id="personal-information"></app-personal-information>
        <app-work-experience id="work-experience"></app-work-experience>
        <app-project id="projects"></app-project>
        <app-about id="about"></app-about>
        <app-tech-stack id="tech-stack"></app-tech-stack>
    </main>
    <div class="relleno">

    </div>
</body>

<footer>
    <app-footer id="contact"></app-footer>
</footer>



