<header id="header">
    <nav>
        <app-navbar></app-navbar>
    </nav>
</header>

<body>
    <main id="main-menu">
        <app-personal-information id="personal-information"></app-personal-information>
        <app-work-experience id="work-experience"></app-work-experience>
        <app-project id="projects"></app-project>
        <app-about id="about"></app-about>
        <app-tech-stack id="tech-stack"></app-tech-stack>
    </main>
    <div class="relleno">

    </div>
    <div class="box-arrow-up">
        <a href="#header" class="scroll-to-top">
            <svg xmlns="http://www.w3.org/2000/svg" class="arrow-upward" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed">
                <path d="M450-160v-526L202-438l-42-42 320-320 320 320-42 42-248-248v526h-60Z"/>
            </svg>
        </a>
     </div>
</body>

<footer>
    <app-footer id="contact"></app-footer>
</footer>



